.conteudo__logo {
    display: grid;
    justify-content: center;
    margin: 30px 0 24px 0;
}

.main__conteudo-texto {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 56.54px;
    font-weight: 400;
    font-size: 1em;
    line-height: 21px;
    color: var(--azul);
}

.forma02-invertida {
    position: absolute;
    top: 368px;
}

@media screen and (min-width: 768px) {
    .conteudo__logo img {
        width: 251px;
        margin: 75px 0 24px;
    }
    
    .main__conteudo-texto {
        margin-top: 16px;
        font-size: 1.1em;
    }
    
}