section {
    width: 100%;
    display: grid;
    justify-items: center;
}

.conteudo {
    width: 60%;
}

.conteudo__logo {
    margin: 35px 0 24px 0;
}

.conteudo__titulo {
    display: flex;
    justify-content: center;
    text-align: center;

    margin: 16px 0;
    font-family: var(--text-ibm);
    font-weight: 500;
    font-size: 1.6em;
    color: var(--branco);
}

.conteudo__texto {
    color: var(--branco);
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
}

.conteudo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.conteudo__btn {
    color: var(--branco);
    background-color: var(--coral);
    margin: 0 0 16px 0;
    font-family: var(--text);
    font-weight: 600;
    font-size: 1em;
    height: 40px;
    width: 180px;

    border-radius: 6px;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-1 {
    margin: 24px 0 16px 0;
}

.forma02 {
    position: absolute;
    width: 84.03px;
    height: 415px;
    right: 0;
    top: 199px;
}

.forma03 {
    position: relative;
    width: 247.34px;
    height: 312.77px;
}