section {
    width: 100%;
    display: grid;
    justify-items: center;
}

.conteudo {
    width: 70%;
    margin-top: 90px;
}

.conteudo__logo {
    display: grid;
    justify-content: center;
    margin: 35px 0 24px 0;
}

.conteudo__titulo {
    display: flex;
    justify-content: center;
    text-align: center;

    margin: 16px 0;
    font-family: var(--text-ibm);
    font-weight: 500;
    font-size: 1.6em;
    line-height: 48px;
    color: var(--branco);
}

.conteudo__texto::before {
    content: "Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!";
}

.conteudo__texto {
    color: var(--branco);
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
}

.forma02 {
    position: absolute;
    width: 84.03px;
    height: 415px;
    right: 0;
    top: 199px;
}

.forma03 {
    position: relative;
    bottom: -13px;
}

@media screen and (min-width: 768px) {
    .conteudo__logo img {
        width: 251px;
    }

    .conteudo__titulo {
        font-size: 1.8em;
    }

    .conteudo__texto::before {
        content: "Adotar pode mudar uma vida. Que tal buscar seu novo melhor amigo hoje? Vem com a gente!";
    }

    .conteudo__texto {
        font-size: 1.1em;
        width: 344px;
        margin: auto;
    }
}