.conteudo {
    display: grid;
    justify-content: center;
}

.main__conteudo-texto {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: var(--azul);

    margin: 30px 67px 32px;

    display: flex;
    align-items: center;
    text-align: center;
}

.main__card {
    background-color: var(--cinza_inpt);
    padding: 24px 0 19px 24px;
    margin: 0 8px 16px;

    display: flex;
}

.main__img-animal {
    margin-right: 16px;
}

.main__card-dados h2 {
    font-weight: 600;
    font-size: 1em;
    line-height: 20px;
    color: var(--azul);

    margin-bottom: 8px;
}

.main__card-idade,
.main__card-tamanho,
.main__card-jeito {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 20px;
    color: var(--cinza);
}

.main__card-local {
    font-weight: 400;
    font-size: 0.7em;
    line-height: 16px;
    color: var(--cinza);

    margin-top: 30px;
    margin-bottom: 7px;
}

.main__card-contato p {
    font-weight: 400;
    font-size: 0.6em;
    line-height: 16px;
    color: var(--cinza);

    margin-left: 8px;
}

.forma02 {
    display: none;
}

@media screen and (min-width: 768px) {
    .main__conteudo-texto {
        font-size: 1.1em;
        margin: 130px 67px 32px;
        justify-content: center;
    }

    .main__cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1440px) {
    .main__cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .forma02 {
        display: block;
        position: absolute;
        right: 0;
        top: 268px;
    }
}