.conteudo {
    display: grid;
    align-items: center;
    justify-content: center;
}

.conteudo__logo {
    display: grid;
    justify-content: center;
    margin: 30px 0 24px 0;
}

.main__conteudo-texto {
    margin: 0 24px;
    font-family: var(--text);
    font-weight: 400;
    font-size: 1em;
    line-height: 21px;
    color: var(--azul);

    display: flex;
    align-items: center;
    text-align: center;
}

.forma02-invertida {
    position: absolute;
    top: 368px;
}

.forma02 {
    display: none;
}

@media screen and (min-width: 768px) {
    .conteudo {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .conteudo__logo img {
        width: 251px;
        margin: 75px 0 24px;
    }

    .main__conteudo-texto {
        margin-top: 16px;
        font-size: 1.1em;
        width: 525px;
    }

    .forma02-invertida {
        display: none;
    }

    .forma02 {
        display: block;
        position: absolute;
        right: 0;
        top: 268px;
    }
}