footer {
    background-color: var(--verde);
    position: absolute;
    top: 813px;
}

.footer {
    color: var(--branco);
    font-weight: 400;
    width: 100vw;
    height: 104px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    footer {
        top: 1096px;
    }
}